{% extends 'base.html' %}

{% block title %}
<title>Add new quizes</title>
{% endblock title %}

{% block body %}


<div class="container">
    <form action="/Addquiz" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Quiz name</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name">
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Quiz time</label>
            <input type="text" class="form-control" id="time" name="time">
        </div>
        <div class="mb-3">
            <label for="lastdate">last date</label>
            <input type="date" id="lastdate" name="lastdate"> 
        </div>
        <button type="submit" class="btn btn-primary">ADD</button>
    </form>


    <table class="table my-3">
        <thead>
            <tr class="table-dark">
                <th scope="col">SNO.</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Last Date</th>
            </tr>
        </thead>
        <tbody>
            {% if allquizes|length == 0 %}
            <div class="alert alert-primary" role="alert">NO QUIZES FOUND ADD A NEW QUIZ THROUGH ADD QUIZ MENU</div>
            {% else %}
            {% for quiz in allquizes %}
            <tr class="table-info">
                <th scope="row">{{loop.index}}</th>
                <td>{{quiz.name}}</td>
                <td>{{quiz.time}}</td>
                <td>{{quiz.last_date}}</td>
            </tr>
            {% endfor %}
            {% endif %}

        </tbody>
    </table>
</div>
{% endblock body %}